.login {
  // @media screen and (min-width: 1170px) {
  //   max-width: 1200px;
  // }
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  &-image {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: #000000;
      opacity: .5;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  &-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    h2 {
      font-size: 3rem;
      color: white;
    }
    .field {
      h2 {
        font-size: 18px;
        color: white;
      }
      input {
        outline: none;
        padding: 13px 0 13px 15px;
        width: 50%;
        border-radius: 999px;
        border: 2px solid hsla(0, 0%, 95%, 0.302);
        background: hsla(0, 0%, 95%, 0.302);
        margin-top: 3px;
        margin-bottom: 19px;
        &::placeholder { 
          color: #fff;
          opacity: 1; 
        }
      }
    }
    .actions {
      input[type="submit"] {
        outline: none;
        width: 50%;
        border-radius: 999px;
        border: none;
        background: #2867c6;
        padding: 13px 0px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

.message-login {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}

